.input_containerSyle {
    position: relative;
    top: -10vh;
    left: 50%;
    transform: translateX(-50%);
  }

  #mobile-text,
  #mobile-input-container {
    display: none;
  }

  #search_button,
  #search_button_mobile {
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    box-shadow: rgba(28, 28, 33, 0.5) 0px 0px 20px inset, rgba(28, 28, 33, 0.2) 0px 0px 20px;
    outline: rgba(255, 255, 255, 0.5) solid 1px;
    color: #ffffff;
    text-shadow: none;
    position: relative;
    z-index: 1;
    transition: 750ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #d4af37;
    font-size: 1em;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    margin: 0 auto 2em;
    text-decoration: none;
  }

  #riotid-mobile {
    padding: 10px;
    width: 9em;
    max-width: 100%;
    margin: 10px auto;
    border: 2px solid #d4af37;
    border-radius: 5px;
    font-family: "JetBrains Mono", monospace;
    background-color: #2a2a2a;
    color: #ffffff;
    position: relative;
    z-index: 1;
  }

  #riotid-mobile:focus {
    outline: none;
  }

  #region {
    margin-left: 5px;
  }

  #rankedFlexDataMobile,
  #rankedSoloqDataMobile {
    display: none;
  }

  #rankedSoloqData,
  #rankedFlexData {
    display: flex;
  }

  #container {
    background-color: #2a2a2a;
    height: 20vh;
    border-radius: 5px;
    border: 2px solid #d4af37;
    text-align: center;
    padding: 10px 5px;
    width: 80%;
    margin: 20px auto;
  }

  #nickName {
    font-size: 1.3em;
  }

  #icon > img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #d4af37;
    margin-bottom: 15px;
  }

  #generalContainer {
    position: relative;
    margin: 0 auto;
    width: 90%;
  }

  #rankedIcon,
  #rankedFlexIcon {
    width: 68px;
    height: 68px;
    margin: auto;
  }

  #containerRanked {
    display: flex;
    justify-content: center;
    gap: 1.8px;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  #containerRankedSoloq,
  #containerRankedFlex {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #d4af37;
    margin-top: 10px;
  }

  span {
    font-size: 0.70em;
  }

  #Lvl {
    font-size: 1em;
  }

  .gameQueueType {
    color: #ccc;
    font-size: 14px;
    margin-right: 10px;
  }

  #containerMastery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

  #containerMasteries1,
  #containerMasteries2,
  #containerMasteries3,
  #containerMasteries4,
  #containerMasteries5 {
    background-color: #2a2a2a;
    height: 155px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #d4af37;
  }

  #mastery1,
  #mastery2,
  #mastery3,
  #mastery4,
  #mastery5 {
    border-radius: 10%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  #masteryTxt1,
  #masteryTxt2,
  #masteryTxt3,
  #masteryTxt4,
  #masteryTxt5 {
    text-align: center;
    margin-top: 10px;
  }

  #matchHistoryContainer {
    width: 95%;
    height: auto;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 2px solid #d4af37;
    margin: 20px auto;
    display: grid;
    gap: 10px;
  }

  .gameDate {
    font-size: 12px;
    color: rgb(204, 204, 204);
    justify-content: right;
    display: flex;
    margin-right: 30px;
  }

  .match {
    position: relative;
    cursor: default;
  }

  .game-date {
    font-size: 12px;
    color: rgb(204, 204, 204);
    justify-content: right;
    display: flex;
    margin-right: 30px;
  }

  .arrow-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #d4af37;
  }

  .matchesDetails {
    margin-top: 10px;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .team-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .participant {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  }

  .winning-team {
    background-color: #2a5a2a;
  }

  .losing-team {
    background-color: #5a2a2a;
  }

  .champion-icon {
    width: 60px;
    height: 60px;
    margin-left: 8px;
  }

  .participant-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 1.5em;
  }

  .riot-id {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }

  .kdaTxt {
    color: #ccc;
    font-size: 12px;
  }

  .items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .itemIcon {
    border: 2px solid #d4af37;
    border-radius: 15px;
    width: 40px;
    height: 40px;
  }

  .gamestats {
    display: flex;
    align-items: center;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
  }

  .queue-type {
    color: #ccc;
    font-size: 14px;
    margin-right: 10px;
  }

  .main-rune-icon,
  .secondary-rune-icon {
    border: 2px solid #d4af37;
    border-radius: 15px;
    margin-top: 10px;
  }

  .main-rune-icon {
    width: 25px;
    height: 25px;
  }

  .secondary-rune-icon {
    width: 15px;
    height: 15px;
    padding: 2px;
  }

  .matches {
    height: auto;
    border-bottom: 2px solid #d4af37;
    margin: 5px;
    padding: 10px;
  }
#search_button_mobile {
  border-radius: 5px;
  left: 8px;
  padding: 10px 20px;
  border: 0px solid;
  box-shadow: rgba(28, 28, 33, 0.5) 0px 0px 20px inset, rgba(28, 28, 33, 0.2) 0px 0px 20px;
  outline: rgba(255, 255, 255, 0.5) solid 1px;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  color: #ffffff;
  text-shadow: none;
  position: relative;
  z-index: 1;
  transition: 750ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #d4af37;
  font-size: 1em;
  font-family: "JetBrains Mono", monospace;
  cursor: pointer;
  margin: 0px 0px 2em;
  text-decoration: none;
}
#riotid-mobile{
  padding: 10px;
  width: 9em;
  max-width: 400px;
  margin-left: 10px;
  border: 2px solid #d4af37;
  border-radius: 5px;
  font-family: "JetBrains Mono", monospace;
  background-color: #2a2a2a;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
#riotid-mobile:focus{
  outline: none;
}
#region{
  margin-left: 5px;
}

#rankedFlexDataMobile, #rankedSoloqDataMobile{
  display: none;
}
#rankedSoloqData, #rankedFlexData{
  display: flex;
}
#container {
  background-color: #2a2a2a;
  height: 20%;
  border-radius: 5px;
  border: 2px solid #d4af37;
  text-align: center;
  padding: 10px 5px 4px 5px;
  width: 255px;
  display: block;
  margin-left: 224px;
  margin-top: -237px;
}

#nickName{
  font-size: 1.3em;
}

#icon > img {
  display: block;
  width: 222px;
  height: 222px;
  border-radius: 5px;
  border: 2px solid #d4af37;
  margin-bottom: 15px;
}

#generalContainer {
  position: relative; /* Adicione position: relative se for necessário */
  left: -15vw;
  top: 13vh;
}

#rankedIcon, #rankedFlexIcon {
  width: 68px;
  height: 68px;
  margin: auto;
}

#containerRanked {
  display: flex;
  justify-content: center;
  gap: 1.8px;
  flex-wrap: wrap;
  position: relative; /* Adicione position: relative se for necessário */
  top: -0.3em;
  left: -10.4em;
}

#containerRankedSoloq,
#containerRankedFlex {
  height: 152.8px;
  width: 254px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #d4af37;
  margin-top: 10px; /* Use margin-top em vez de top */
}

span {
  font-size: 0.70em;
}
#Lvl{
  font-size: 1em;
}
.gameQueueType{
  color: #ccc;
  font-size: 14px;
  margin-right: 10px;
}
#containerMastery {
  display: flex;
  position: relative; /* Adicione position: relative se for necessário */
  left: 13.7em;
  top: -3.6px;
}

#containerMasteries1,
#containerMasteries2,
#containerMasteries3,
#containerMasteries4,
#containerMasteries5 {
  background-color: #2a2a2a;
  height: 155px;
  width: 254px;
  border-radius: 5px;
  border: 2px solid #d4af37;
  margin-left: 5px;
}

#mastery1, #mastery2, #mastery3, #mastery4, #mastery5 {
  border-radius: 10%;
  width: 80px;
  height: 80px;
  margin-left: 30%;
}

#masteryTxt1, #masteryTxt2, #masteryTxt3, #masteryTxt4, #masteryTxt5 {
  position: relative; /* Adicione position: relative se for necessário */
  top: -25.5px;
}

/* Estilos para o contêiner de histórico de partidas */
#matchHistoryContainer {
  width: 1295px;
  height: 200%;
  background-color: #2a2a2a;
  border-radius: 10px;
  top: -80.4px;
  border: 2px solid #d4af37;
  margin-left: -37px;
  left: 13.8vw;
  display: grid;
}
.gameDate{
  font-size: 12px;
  color: rgb(204, 204, 204);
  margin-left: 260px;
  justify-content: right;
  display: flex;
  margin-right: 30px;
}
/* Estilos para cada partida */
.match {
  position: relative;
  cursor: default;
}

/* Estilos para a data do jogo */
.game-date {
  font-size: 12px;
  color: rgb(204, 204, 204);
  margin-left: 260px;
  justify-content: right;
  display: flex;
  margin-right: 30px;
}

/* Estilos para o ícone de seta */
.arrow-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #d4af37;

}

/* Estilos para o contêiner de detalhes da partida */
.matchesDetails {
  margin-top: 10px;
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Estilos para as colunas de times */
.team-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilos para cada participante */
.participant {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

/* Estilos para o time vencedor */
.winning-team {
  background-color: #2a5a2a;
}

/* Estilos para o time perdedor */
.losing-team {
  background-color: #5a2a2a;
}

/* Estilos para o ícone do campeão */
.champion-icon {
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 8px;
}

/* Estilos para as informações do participante */
.participant-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 1.5em;
}

/* Estilos para o nome do invocador */
.riot-id {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

/* Estilos para o KDA */
.kdaTxt {
  color: #ccc;
  font-size: 12px;
}

/* Estilos para os itens */
.items {
  width: 500px;
  left: 10%;
  top: -10%;
  display: flex;
}
.itemIcon{
  border: 2px solid #d4af37;
  border-radius: 15px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 3px;
}

/* Estilos para o contêiner de estatísticas do jogo */
.gamestats {
  float: left;
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

/* Estilos para o tipo de fila */
.queue-type {
  color: #ccc;
  font-size: 14px;
  margin-right: 10px;
}

/* Estilos para o ícone da runa principal */
.main-rune-icon {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 15px;
  margin-left: 6px;
  border: 2px solid #d4af37;
  border-radius: 15px;
}

/* Estilos para o ícone da runa secundária */
.secondary-rune-icon {
  width: 15px;
  height: 15px;
  float: left;
  margin-top: 20px;
  margin-left: 2px;
  padding: 2px;
  border: 2px solid #d4af37;
  border-radius: 15px;
}

.matches{
  height: 90px;
  border-bottom: 2px solid #d4af37;
  margin: 5px 5px 5px 5px;
}

@media only screen and (min-width: 600px) {
.input_containerSyle{
  display: none;
}

#icon > img{
  width: 70px;
  height: 70px;
}
#icon{
  width: 80px;
  height: 80px;
  left: -24.0vw;
  top: 1vh;
}
#mobile-input-container{
  display: flex;
  left: 52.5vw;
  top: -8.4vh;
  border: 2px solid #d4af37;
  border-radius: 8px;
  background-color: #2a2a2a;
  width: 70px;
  height: 70px;
}
#mobile-button-open-container-background{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  cursor:pointer
}
#mobile-input-container-background{
  display: none;
  width: 50vw;
  height: 100vh;
  background-color: #2a2a2a;
  border: 2px solid #d4af37;
  border-radius: 8px;
  position: absolute;
  top: -5px;
  left: -27.3vw;
  animation: slideInFromRight 0.4s ease-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.matches{
  width:335px;
  height: 70px;
}
#matchHistoryContainer{
  width: 95vw;
  height: 196.7%;
  background-color: #2a2a2a;
  border-radius: 10px;
  top: 45.3px;
  border: 2px solid #d4af37;
  left: -14.0vw;
  z-index: 0;
}
.matches > span{
  margin-right: unset;
  margin-left: unset;
}
.gameDate{display: none;}
.matches > .champion-icon{
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
.secondary-rune-icon{
  margin-top: 35px;
}
.main-rune-icon{
  margin-top: 25px;
}
.items{
  margin-left: 66.7px;
  top: -162%;
}
#nickName{
  font-size: 9.5px;
}
#Lvl{
  font-size: 8.5px;
}
.itemIcon{
  border-radius: 8px;
  width: 30px;
  height: 30px;
  margin-top: 13.5px;
}
.arrow-icon{
  right: 10px;
}
.gamestatsContainer > span{
  font-size: 10px;
}
.gamestatsContainer{
  top: -10vh;
  left: -5.7vw;
}
#rankedFlexDataMobile, #rankedSoloqDataMobile{
  font-size: 8px;
  display: flex;
}
#rankedSoloqData, #rankedFlexData{
  display: none;
}
#mobile-button-close-container-background{
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #2a2a2a;
  border: 2px solid #d4af37;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  margin-left: 76.7%;
}
#riotid{
  max-width: 166px;
  margin-left: unset;
  margin-bottom: 5px;
  margin-top: 18px;
}
#region{
  margin-bottom: 5px;
}
#search_button_mobile{
  width: 166px;
  margin-left: -15px;
}
#generalContainer{
  left: 17.8vw;
  top: -4.0vh;
}
#containerRanked{
  left: 39vw;
  width: 60px;
  height: 60px;
  top: -9vh;
}
#container{
  padding:0px;
  padding-top: 5px;
  width: 70px;
  height: 70px;
  display: block;
  margin-left: 19.0vw;
  margin-top: -10vh;
  font-size: 10px;
}
#containerRankedFlex{
  top: -9.8vh;
  margin-left: 37.4vw;
}
#containerRankedFlex, #containerRankedSoloq{
  width: 70px;
  height: 70px;
}

#span{
  font-size: 8px;
}
#rankedIcon, #rankedFlexIcon{
  width: 23px;
  height: 23px;
  margin: unset;

}
#containerMastery{
  max-width: 100000%;
  display:unset;
  left: -0.3em;
  top: -6.5vh;
}
#full-text{display:none}
#mobile-text{
  margin-left: 4px;
  display:flex;
  margin-top: 22px;
  font-size: 9px;
}
#containerMasteries1, #containerMasteries2, #containerMasteries3, #containerMasteries4, #containerMasteries5{
  width: 18vw;
  height: 30vw;
}
#containerMasteries2{
  left: 19.2vw;
  top: -13.4vh;
}
#containerMasteries3{
  left: 38.4vw;
  top: -26.8vh;
}
#containerMasteries4{
  left: 57.6vw;
  top: -40.2vh;
}
#containerMasteries5{
  left: 76.8vw;
  top: -53.4vh;
}
#containerRankedFlex > img, #containerRankedSoloq > img{
  margin-top: -10px;
}
#mastery1, #mastery2, #mastery3, #mastery4, #mastery5 {
  border-radius: 10%;
  width: 60px;
  height: 60px;
  margin-left: unset;

}
}

@media only screen and (max-width: 600px)  {
  .input_containerSyle{
    display: none;
  }

  #icon > img{
    width: 70px;
    height: 70px;
    margin-bottom: 2.5vh;
  }
  #icon{
    width: 70px;
    height: 70px;
    left: -21.6rem;
    top: -18.8rem;
  }
  #mobile-input-container{
    display: flex;
    left: -16.8vw;
    top: -23rem;
    border: 2px solid #d4af37;
    border-radius: 8px;
    background-color: #2a2a2a;
    width: 65px;
    height: 65px;
  }
  #mobile-button-open-container-background{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    cursor:pointer
  }
  #mobile-input-container-background{
    display: none;
    width: 50vw;
    height: 30vh;
    background-color: #2a2a2a;
    border: 2px solid #d4af37;
    border-radius: 8px;
    position: absolute;
    top: -5px;
    left: -33.3vw;
    animation: slideInFromRight 0.4s ease-out;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .matches{
    width: 318px;
    height: 70px;
  }
  #matchHistoryContainer{
    width: 92.5vw;
    height: 196.7%;
    background-color: #2a2a2a;
    border-radius: 10px;
    top: 57.0px;
    border: 2px solid #d4af37;
    left: -14.0vw;
    z-index: 0;
  }
  .matches > span{
    margin-right: unset;
    margin-left: unset;
  }
  .gameDate{display: none;}
  .matches > .champion-icon{
    width: 40px;
    height: 40px;
    margin-top: 20px;
  }
  .secondary-rune-icon{
    margin-top: 35px;
  }
  .main-rune-icon{
    margin-top: 25px;
  }
  .items{
    margin-left: 66.7px;
    top: -162%;
  }
  #nickName{
    font-size: 8.5px;
  }
  #Lvl{
    font-size: 8.5px;
  }
  .itemIcon{
    border-radius: 8px;
    width: 30px;
    height: 30px;
    margin-top: 13.5px;
  }
  .arrow-icon{
    right: 10px;
  }
  .gamestatsContainer > span{
    font-size: 10px;
  }
  .gamestatsContainer{
    top: -14vh;
    left: -5.7vw;
  }
  #rankedFlexDataMobile, #rankedSoloqDataMobile{
    font-size: 6.8px;
    display: flex;
  }
  #rankedSoloqData, #rankedFlexData{
    display: none;
  }
  #mobile-button-close-container-background{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #2a2a2a;
    border: 2px solid #d4af37;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin-left: 76.7%;
  }
  #riotid{
    max-width: 166px;
    margin-left: unset;
    margin-bottom: 5px;
    margin-top: 18px;
  }
  #region{
    margin-bottom: 5px;
  }
  #search_button_mobile{
    width: 166px;
    margin-left: -15px;
  }
  #generalContainer{
    left: 19rem;
    top: 29rem;
  }
  #containerRanked{
    left: 9rem;
    width: 70px;
    height: 65px;
    top: -6.2rem;
  }
  }
  #container{
    padding:0px;
    padding-top: 5px;
    width: 70px;
    height: 70px;
    display: block;
    margin-left: 4.5rem;
    margin-top: -5.4rem;
    font-size: 10px;
  }
  #containerRankedFlex{
    margin-top: -4.55rem;
    margin-left: 8.7rem;
  }
  #containerRankedFlex, #containerRankedSoloq{
    width: 70px;
    height:70px;
  }

  #span{
    font-size: 8px;
  }
  #rankedIcon, #rankedFlexIcon{
    width: 23px;
    height: 23px;
    margin: unset;

  }
  #containerMastery{
    max-width: 100000%;
    display: inline-flex;
    left: -2.5em;
    top: -5.8rem;
    width: 26rem;
    height: 14vh;
    flex-wrap: wrap;
  }
  #full-text{display:none}
  #mobile-text{
    margin-left: 4px;
    display:flex;
    margin-top: 22px;
    font-size: 8.5px;
  }
  #containerMasteries1, #containerMasteries2, #containerMasteries3, #containerMasteries4, #containerMasteries5{
    width: 4.3rem;
    height: 7.4rem;
    margin-right: -0.8rem;
  }
  #containerRankedFlex > img, #containerRankedSoloq > img{
    margin-top: -10px;
  }
  #mastery1, #mastery2, #mastery3, #mastery4, #mastery5 {
    border-radius: 10%;
    width: var(--varWidthandHeight);
    height: var(--varWidthandHeight);
    margin-left: unset;

  }
